
body{
    background-color: bisque;
    text-align: center;
    
}

a {
    text-decoration: none;
    list-style: none;
    background-color: greenyellow;
    padding: 5px;
}
.btn_ajout{
    background-color: greenyellow;
    border-radius: 8px;
    box-shadow: 5px 4px 10px rgb(2, 61, 41);
    transition: all 0.3s;
}
.btn_ajout:hover{
    transform: scale(0.95);
    transition: all 0.3s;
    border-color: wheat;
}
.btn_ajout:hover a{
    color: darkblue;
}

.titre_page{
    color: chocolate;
}
.titre_page_admin{
    color: red;
}


.img_pizza{
    width: 250px;
    height: 250px;
    border: rgb(184, 121, 5) 3px solid;
    border-radius: 5px;
}