<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- CDN FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>carte des produits</title>
</head>
<body>
    

    <h1 class="logo_societe">ENIPIZZ</h1>
    <h1 class="titre_page_admin">Espace ADMIN</h1>
   
   
    <main>
        <div class="row text-center mt-4">
            <h2>CREATION NOUVEAU PRODUIT</h2>
        </div>
        <div class="row my-5">
            <div class="col-8 offset-2">
                <form th:action="@{/carte/ajouterPizza}" method="POST" th:object="${produit}" >
                    
                   
                    <div class="mb-3">
                        <label for="nom" class="form-label" >Nom de la nouvelle Pizza</label>
                        <input type="text" class="form-control" id="nom" th:field="*{nom}" >
                    </div>     

                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea class="form-control" id="desc" rows="4" th:field="*{description}" ></textarea>
                    </div> 

                    <div class="mb-3">
                        <label for="prix" class="form-label" >Prix de vente</label>
                        <input type="text" class="form-control" id="prix" th:field="*{prix}" >
                    </div> 

                    <div class="mb-3">
                        <label for="urlimage" class="form-label" >Nom de l'image</label>
                        <input type="text" class="form-control" id="prix" th:field="*{urlimage}" >
                    </div> 
               
                     
                   
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Validation</button>
                    </div>                    
                </form>

                <!-- <h3 th:text="${Messagesaved}"></h3> -->
            </div>
        </div>
    </main>

    <div class="row my-5">
        <div class="col-8 offset-2">
            <table class="table table-primary table-striped">
                <thead>
                    <th>Réference</th>
                    <th>Tarif</th>
                    <th>Nom</th>
                    <th>Description</th> 
                    <th>aperçu pizza</th>         
                    <th></th>                  
                  
                </thead>
                <tbody>
                    <tr th:each="produit : ${produits}" >
                        <!-- <form th:action="@{/carte/supprimerpizza}" method="POST" th:object="${produit}" >
                            <td th:text="${produit.id}" ></td>
                            <td th:text="${produit.prix}" ></td>
                            <td th:text="${produit.nom}"></td>
                            <td th:text="${produit.description}">
                            </td>
                            <td>
                                <img class="img_pizza" th:src="@{'/img/pizza' + ${produit.id} + '.jpg'}" alt="illustration de la pizza" />
                            </td>
                            <td>
                                    <button type="submit" class="btn_ajout"><a th:href="@{/carte/supprimerpizza?}+${produit.id}">supprimer</a></button> 
                            </td>
                        </form> -->
                        <form th:action="@{/carte/supprimerpizza}" method="POST">
                            <input type="hidden" name="id" th:value="${produit.id}" />
                            <td th:text="${produit.id}"></td>
                            <td th:text="${produit.prix}"></td>
                            <td th:text="${produit.nom}"></td>
                            <td th:text="${produit.description}"></td>
                            <td>
                                <img class="img_pizza" th:src="@{'/img/pizza' + ${produit.id} + '.jpg'}" alt="illustration de la pizza" />
                            </td>
                            <td>
                                <button type="submit" class="btn_ajout">supprimer</button>
                            </td>
                        </form>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    
    
    
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>