<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- CDN FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>carte des produits</title>
</head>
<body>
    <div class="overlay"></div>
    

    <h1 class="logo_societe">ENIPIZZ</h1>
    <h1 class="titre_page_admin">Espace ADMIN</h1>
    <h3><a th:href="@{/validation_paiement/commandes/enPreparation}" class="btn_modifier">consulter les commandes en preparation</a></h3>
   
   
    <main>
        <div class="row text-center mt-4">
            <h2>CREATION NOUVEAU PRODUIT</h2>
            <!-- Utilisation de Thymeleaf pour afficher le message en fonction de Messagesaved -->
            <h3 th:if="${Messagesaved == null}"></h3>
            <h4 id="mess" th:if="${Messagesaved != null}" th:text="${Messagesaved}"></h4>

            
        </div>
        <div class="row my-5">
            <div class="col-8 offset-2">
                <form th:action="@{/carte/ajouterPizza}" method="POST" th:object="${produit}" >
                    
                    <!-- <div class="mb-3">
                        <label for="typeProduit" class="form-label" >type de produit</label>
                        <input type="text" class="form-control" id="typeProduit" th:field="*{typeProduit}" >
                    </div> -->
                    <div class="mb-3">
                        <label for="typeProduit" class="form-label">Type de produit</label>
                        <select class="form-select" id="typeProduit" th:field="*{typeProduit}">
                            <option value="" disabled selected>Sélectionnez un type</option>
                            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.libelle}"></option>
                        </select>
                    </div>
                    
                   
                    <div class="mb-3">
                        <label for="nom" class="form-label" >Nom de la nouvelle Pizza</label>
                        <input type="text" class="form-control" id="nom" th:field="*{nom}" >
                    </div>     

                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea class="form-control" id="desc" rows="4" th:field="*{description}" ></textarea>
                    </div> 

                    <div class="mb-3">
                        <label for="prix" class="form-label" >Prix de vente</label>
                        <input type="text" class="form-control" id="prix" th:field="*{prix}" >
                    </div> 

                    <div class="mb-3">
                        <label for="urlimage" class="form-label" >Nom de l'image</label>
                        <input type="text" class="form-control" id="prix" th:field="*{urlimage}" >
                    </div> 
               
                     
                   
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Validation</button>
                    </div>                    
                </form>

                
            </div>
        </div>
    </main>

    <div class="row my-5">
        <div class="col-8 offset-2">
            <table class="table table-primary table-striped">
                <thead>
                    <th>Réference</th>
                    <th>Tarif</th>
                    <th>Nom</th>
                    <th>Description</th> 
                    <th>aperçu pizza</th>         
                    <th></th>  
                    <th></th>                
                  
                </thead>
                <tbody>
                    <tr th:each="produit : ${produits}">
                        <td th:text="${produit.id}"></td>
                        <td th:text="${produit.prix} + ' € '"></td>
                        <td th:text="${produit.nom}"></td>
                        <td th:text="${produit.description}"></td>
                        <td>
                            <img class="img_pizza" th:src="@{'/img/' + ${produit.urlimage}}" alt="illustration de la pizza" />
                        </td>
                        <td>
                            <!-- Formulaire pour supprimer le produit -->
                            <form th:action="@{/carte/supprimerpizza}" method="POST">
                                <input type="hidden" name="id" th:value="${produit.id}" />
                                <button type="submit" class="btn_suppr">supprimer</button>
                            </form>
                        </td>
                        <td>
                            <!-- envoi de l'ID du produit en paramètre pour la page de modification -->
                            <a th:href="@{/carte/modifierpizza(id=${produit.id})}" class="btn_modifier">modifier</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script>
        // selection de l'id
        var messageElement = document.getElementById("mess");

        // Vérifiez si l'élément existe
        if (messageElement) {
        // Attendre (2500 millisecondes) avant de masquer l'élément
        setTimeout(function() {
            messageElement.style.display = "none";
        }, 2500); // 2500 millisecondes équivalent à 10 secondes
        }
    </script>
</body>
</html>